- provide(:title, 'Add new list')
%h1 Add new list

.row
  %div{class: "span6 offset3"}
    = form_for(@user) do |f|
      = render 'fields', f: f
      = f.submit "Create my account", class: "btn btn-large btn-primary"