<% provide(:title, 'Recipes') %>

<div class="recipe">
  <h1>Recipes
    <% if can?(:create, Recipe) %>
      <small><%= link_to "Add New...", new_recipe_path %></small>
    <% end %>
  </h1>

  <ul>
    <% @recipes.each do |recipe| %>
      <li><%= link_to recipe.name, recipe %></li>
    <% end %>
  </ul>

  <% if can?(:create, Recipe) %>
    <%= link_to "Add New...", new_recipe_path %>
  <% end %>
</div>
