
<div class="recipe">
  <h1><%= @recipe.name %>
    <% if can?(:edit, @recipe) %>
      <small><%= link_to "edit", edit_recipe_path(@recipe) %></small>
    <% end %>
  </h1>

  <section>
  <h3>Ingredients</h3>
  <ul>
      <%= render partial: "recipe_ingredient", collection: @recipe.recipe_ingredients %>
  </ul>
  </section>

  <section>
  <h3>Instructions</h3>

  <p>
    <%= @recipe.instructions %>
  </p>
  </section>
</div>
