
<div class="recipe">
  <h1><%= raw Redcarpet::Render::SmartyPants.render(@recipe.name) %>
    <% if can?(:edit, @recipe) %>
      <small><%= link_to "edit", edit_recipe_path(@recipe) %></small>
    <% end %>
  </h1>

  <section>
  <h3>Ingredients</h3>
  <%= simple_format @recipe.ingredients %>
  </section>

  <section>
  <h3>Instructions</h3>
  <%= simple_format @recipe.instructions %>
  </section>
</div>
