<li id="<%= itemfeed_item.id %>">
  <span class="content">
  <%= link_to wrap(itemfeed_item.content), list_path(itemfeed_item.id) %>
  </span>
	<span class="timestamp">
		Updated <%= time_ago_in_words(itemfeed_item.updated_at) %> ago.
	</span>
	<% if current_user?(itemfeed_item.list.user) %>
		<%= render 'shared/delete_micropost_link', object: itemfeed_item %>
	<% end %>
</li>
