<% provide(:title, 'My Files') %>

<div class="row">
  <div class="col-sm-7 col-md-7">
    <h3>My Files</h3>

    <%= will_paginate %>

    <ul class="attachments">
      <%= render @attachments %>
    </ul>

    <%= will_paginate %>

  </div>

  <div class="col-lg-offset-1 col-sm-4 col-md-4">
    <h3>Add New File...</h3>
    <%= render 'form' %>
  </div>

</div>

