<li id="<% item.id %>">
  <span class="content">
    <%= auto_link( item.content, html: { target: '_blank' } ) %>
  </span>

  <span class="timestamp">
    Updated #{time_ago_in_words(item.updated_at)} ago.
  </span>

  <%= link_to "show", item %>
  <% if signed_in? && can?(:update, item.list) %>
    #{link_to "edit", edit_item_path(item.id)}
    #{link_to "delete", item, method: :delete, data: { confirm: "You sure?" }, title: item.content } 
  <% end %>
