<footer class="footer">
  <small>
    <a href="http://railslist.ngmarley.com/">RailsList</a>
    by Nathan Marley
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
